apispec==6.8.1
astroid==3.3.10
blinker==1.9.0
click==8.1.8
colorama==0.4.6
coverage==7.8.0
dill==0.4.0
distlib==0.3.9
docopt==0.6.2
filelock==3.18.0
Flask==3.1.0
Flask-JWT-Extended==4.7.1
flask-smorest==0.46.1
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
greenlet==3.2.1
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
marshmallow==4.0.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.7
pluggy==1.5.0
PyJWT==2.10.1
pylint==3.3.7
pytest==8.3.5
pytest-cov==6.1.1
pytest-watch==4.2.0
python-dotenv==1.1.0
SQLAlchemy==2.0.40
tomlkit==0.13.2
typing_extensions==4.13.2
virtualenv==20.30.0
watchdog==6.0.0
webargs==8.7.0
Werkzeug==3.1.3
